/* Empty. Add your own CSS if you like */

body {
    font-family: serif, Helvetica, Arial, sans-serif !important;
}

/*
.slider, ion-slide.slider-slide  {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
}
*/

ion-item.home-page {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

.home .scroll {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.home-page,
.home-page a {
    background-color: #036482 !important;
    height: 100%;
    width: 100%;
    border: none !important;
}

ion-header-bar.bar-positive.bar.bar-header {
    border-bottom: 1px solid #1cbaea !important;
}

.bar.bar-positive .title {
    color: #fff;
    font-size: 120%;
    font-weight: 600;
}

.bar.bar-positive div.title {
    font-size: 140%;
    text-align: center;
}

h1.title.menu-title.ng-binding.title-left {
    text-align: center;
}
a.headerTitle {
    text-decoration: none;
}

.right-menu-list a.item-content.ng-binding {
    font-weight: bold;
}

.tabs .tab-item .badge.badge-positive,
.badge.badge-positive {
    background-color: #004e66;
    color: #fff;
}

.posts button.button.button-icon.button-clear.ion-android-share-alt {
    position: absolute;
    top: 6px;
    left: 14px;
}

.positive,
a.positive {
    color: #004e66;
}

img.full-image.post-image {
    border: 1px solid black;
    /* border-radius: 5px; */
}

.bar-positive {
    background-color: #004e66 !important;
    border-color: #004e66 !important;
}

.splash {
    /*  background: url(../img/bkg.jpg) no-repeat center center fixed;*/
    background-color: #004e66;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home * {
    text-align: center;
    color: white !important;
}

.titles, .sponser {
    position: absolute;
    right: 0;
    left: 0;
}
.titles {
    top: 5em;
}
.sponser{
    bottom: 1em;
}
.home-page h1 strong {
    font-size: 70px;
}

.item,
body.grade-a.platform-browser.platform-macintel.platform-ready {
    text-align: right;
    direction: rtl;
}

/*
.icon,
.badge {
    left: 20px;
    right: auto !important;
}
*/

.post-container a.item-content,
.bckg-container {
    background-color: #E9EAED !important;
}

.post-cat a.item-content.ng-binding {
    background-color: white !important;
}

li.item.cat-container,
ion-item.date-comments.item {
    padding: 5px 16px;
}

cat,
tag {
    color: black!important;
    font-family: "Nassim", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    font-size: 15px !important;
    font-weight: 200 !important;
    line-height: 16px !important;
}

a.cat {
    font-size: 13px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.item {
    font-family: serif !important;
}

.item a {
    color: #036482 !important;
}

.item .post-content p,
.item .post-content ul,
.item .post-content ol {
    font-size: 16px;
    line-height: 23px;
    margin: 15px 0;
    color: black;
    white-space: normal !important;
}

/*
.item .post-content h1,
.item .post-content h2,
.item .post-content h3,
.item .post-content h4,
.item .post-content h5,
.item .post-content h6 {
    margin: 10px 0;
    font-size: 18px;
    color: #004e66;
    font-weight: bold;
    line-height: 25px;
    white-space: normal !important;
}
*/

.item-complex .item-content {
    padding: 16px !important;
}

.post-title-link {
    text-decoration: none;
}

.move-to {
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: auto;
    overflow: hidden;
    width: 100%;
}

.post-content .wp-caption {
    margin: 0 !important;
    width: 100% !important;
}

.post-content blockquote {
    font-style: italic;
    background-color: #E9EAED;
    border-left: 5px solid #ffc952;
}

.post-content img {
    max-width: 100% !important;
    margin: 10px 0 !important;
}

.post-content a {
    text-decoration: none;
}

.post-excerpt {
    padding: 10px 10px 10px 0 !important;
    border: none;
}

.post-excerpt p {
    color: gray !important;
    margin-top: 0px;
    text-align: justify;
    font-style: italic;
    padding-left: 10px !important;
    border-left: 3px solid #ffc952;
}

h2.post-title {
    margin-left: 1.5em;
    font-weight: 400;
    font-size: 1em;
}

.singlePostBar h2.title.post-title {
    margin-right: 3em;
    line-height: 3em;
    /* text-align: right; */
    font-size: 1em;
    white-space: normal !important;
    color: #47b8e0;
    font-weight: bold;
    text-align: center;
}

.posts h2.post-title.ng-binding {
    white-space: normal;
    color: #47b8e0;
    font-size: 1em;
    font-weight: bold;
}

.thumbnail {
    margin: 0 !important;
}

.embed-youtube iframe.youtube-player,
iframe {
    width: 100% !important;
    max-height: 15em !important;
}

p.post-date {
    font-size: 12px !important;
    color: #ffc952 !important;
    font-weight: bold;
}

.post-wrap {
    text-decoration: none;
}

input.ng-pristine.ng-untouched.ng-valid {
    text-align: right;
}

.posts button.button.button-icon.button-clear.ion-android-share-alt {
    display: block;
    overflow: hidden;
    z-index: 100;
}

.popup {
    direction: rtl;
    text-align: right;
}

.popup .button-positive {
    background-color: #004e66 !important;
}